<footer class="footer pt-3 border-top">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <p class="pt-2">Satorix Inc &copy</p>
      </div>
      <div class="col-8">
        <ul class="nav justify-content-end">
          <li class="nav-item"><%= link_to "Pricing", "https://www.satorix.com/pricing", class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Sign Up", "https://www.satorix.com/sign-up", class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Contact Us", "https://www.satorix.com/contact", class: "nav-link" %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>